.btn.know-more{
    float: right;
    padding-right:20px;
    text-align: center
}
.col-sm{
    margin-bottom: 70px;
    padding: 30px;
}
.card.customized-card{
    padding: 20px;
}

  
.main-content{
    background-color: aliceblue;
}

.img-customized.card-img-top{
    width:20rem;
}