section.sec1 {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background: url("https://www.peaksandpints.com/wp-content/uploads/2016/03/peaks-and-pints-tumblr-mountain-top-hiking.jpg");
  background-size: cover;
}

section.sec2 {
  width: 100%;
  height: 10vh;
  box-sizing: border-box;
}

nav {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: rgba(0, 0, 0, 0.6);
  padding: 0 100px;
  box-sizing: border-box;
}

nav .navleft {
  float: left;
}
nav .brand {
  float: left;
  height: 100%;
  line-height: 70px;
}

nav .brand h2 {
  margin: 0;
  padding-top: 15px;
  color: #fff;
}

nav .search-container {
  padding-top: 10px;
  float: right;
}

nav input[type=text] {
  padding: 6px;
  background: rgba(0, 0, 0, 0.6);
  color: #ccc;
  font-size: 17px;
  border: none;
}

nav .search-container button {
  float: right;
  padding: 6px; 
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

nav .search-container button:hover {
  background: #262626;
}

@media screen and (max-width: 600px) {
  nav .search-container {
    float: none;
  }
  nav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  nav input[type=text] {
    border: 1px solid #ccc;  
  }
}

nav ul {
  float: left;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  position: relative;
  display: block;
  height: 70px;
  line-height: 70px;
  padding: 0 20x;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
}

nav ul li a:hover {
  color: #262626;
}

nav ul li a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  transform-origin: right;
  z-index: -1;
  transform: scaleX(0);
  transition: transform 0.5s;
}

nav ul li a:hover:before {
  transform-origin: left;
  transform: scaleX(1);
}

.burger{
  display: none;
  cursor: pointer;
}

.burger .line1{
  width:30px;
  height:3px;
  margin-top: 25px;
  margin-left: 95%;
  background-color: #fff
}

.burger .line2{
  width:30px;
  height:3px;
  margin-top:6px;
  margin-left: 95%;
  background-color: #fff
}

.burger .line3{
  width:30px;
  height:3px;
  margin-top:6px;
  margin-left: 95%;
  background-color: #fff
}

@media screen and (max-width:1300px){
  body{
    overflow-x: hidden;
  }
  .navigation{
    position: absolute;
    right:0px;
    height:92vh;
    top:8vh;
    background-color: #262626;
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .burger{
    display: block;
  }
}

.nav-active{
  transform: translateX(0%);
}