body {
    position: relative;
    overflow: hidden;
}
/* You could use :after - it doesn't really matter */
body:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    background-image: url('https://tokyotreat.cdn.prismic.io/tokyotreat/dcca9026063da0737c20671f0153aea2117e3d9b_anime.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}