#form-container {
  width: 500px;
}
#rcorner {
  border: 1px solid #ccc;
  border-radius: 25px;
  margin-top :5px;
  padding: 20px;
}

.row {
  margin-left: 0;
  margin-top: 15px;
  position: relative;
}
.col-xs-8{
  padding-left: 15px;
  padding-right: 15px;
}
#img {
  width: 150px;
}

#editor-container {
  height: 130px;
}
